# This notebook is used to test the ANNABELL model on the SQuAD dataset.

In [1]:
from dataset_processing import question_and_answer_pairs_from_log_file, any_word_match
import pandas as pd
import os
import platform
import datetime

In [2]:
experiment_number = 8
operating_system = platform.system()
if operating_system == 'Windows':
    raise Exception("not used on Windows yet")
elif operating_system == 'Linux':
    base_directory = "/home/chris/gdrive/work/annabell"
elif operating_system == 'Darwin': #macOS
    base_directory = "/Users/chris/Library/CloudStorage/GoogleDrive-cjameswalmsley@gmail.com/My Drive/Shared with Julia/Education/Kent University/PhD/work/annabell/"
else:
    raise Exception("unsupported OS")

timestamp = datetime.datetime.now().strftime("_%Y%m%d_%H%M%S")

test_input_dir = os.path.join(base_directory, "experiments", str(experiment_number), "testing")
test_log_dir = os.path.join(base_directory, "experiments", str(experiment_number), "logs")
data_dir = os.path.join(base_directory, "experiments/data")
test_results_dir = os.path.join(base_directory, "experiments", str(experiment_number), "results")

test_log_filename = "test_nyc_samples_log_2025-09-24_05-28-54.txt"
test_input_filename = "nyc_declarative_sentences_testing_20250924_062527.txt"
dataset_filename = "response_formatted_20250924_174653.jsonl"

test_log_filepath = os.path.join(test_log_dir, test_log_filename)
test_input_filepath = os.path.join(test_input_dir, test_input_filename)
dataset_filepath = os.path.join(data_dir, dataset_filename)

test_answer_summary_filename = "test_nyc_answer_summary" + timestamp + ".tsv"
tsv_results_filepath = os.path.join(test_results_dir, test_answer_summary_filename)

In [26]:
question_and_answer_pairs = question_and_answer_pairs_from_log_file(test_log_filepath)
print("length of log file questions and answers: " + str(len(question_and_answer_pairs)))
with open(test_input_filepath, 'r') as test_input_file:
    test_input_lines = test_input_file.readlines()
print("length of test file questions: " + str(len(test_input_lines)))
#load the LLM response jsonl file into a dataframe
response_formatted_df = pd.read_json(dataset_filepath, lines=True)
#add the test questions to the dataframe
questions_not_found = []
for question, answer in question_and_answer_pairs:
    if question in response_formatted_df["response_question_formatted"].values:
        response_formatted_df.loc[response_formatted_df["response_question_formatted"] == question, "test_answer"] = answer
    else:
        questions_not_found.append(question)
print(f"number of questions not found in training data: {len(questions_not_found)}")
print("questions not found in training data: " + str(questions_not_found[:5]) + " ...")
response_formatted_df.head()

length of log file questions and answers: 829
length of log file questions and answers: 829
length of test file questions: 1568
number of questions not found in training data: 45
questions not found in training data: ['? when', '? the', '? on', '? New Netherland', '?'] ...

,id,question,response_question,response_answer,response_declarative_sentence,answer,response_question_formatted,response_answer_formatted,response_declarative_sentence_formatted,is_pretraining,test_answer
0,56ce304daab44d1400b8850e,What city in the United States has the highest...,What city in the United States has the high –e...,New York,The city in the United States with the high –e...,New York,? what city in the United States has the high ...,New York,the city in the United States with the high -e...,False,Hill
1,56ce304daab44d1400b8850f,In what city is the United Nations based?,In what city is the United Nations base –d?,New York,The United Nations is base –d in New York.,New York,? in what city is the United Nations base -d,New York,the United Nations is base -d in New York,True,NaN
2,56ce304daab44d1400b88510,What city has been called the cultural capital...,What city has been call –ed the culture –al ca...,New York,New York has been call –ed the culture –al cap...,New York,? what city has been call -ed the culture -al ...,New York,New York has been call -ed the culture -al cap...,False,Exploitation number of updates >= 4000
3,56ce304daab44d1400b88511,What American city welcomes the largest number...,What American city welcome –s the large –st nu...,New York,New York is the American city that welcome –s ...,New York,? what American city welcome -s the large -st ...,New York,New York is the American city that welcome -s ...,False,the Bronx
4,56cf5d41aab44d1400b89130,The major gateway for immigration has been whi...,The major gateway for immigrate –ion has been ...,New York City,The major gateway for immigrate –ion has been ...,New York City,? the major gateway for immigrate -ion has bee...,New York City,the major gateway for immigrate -ion has been ...,False,Exploitation number of updates >= 4000

In [13]:
# Get the counts for each unique value in the 'test_answer' column
test_answer_summary = response_formatted_df['test_answer'].value_counts().reset_index()
# Rename the columns for clarity
test_answer_summary.columns = ['test_answer', 'count']
# Sort the results by count in descending order
test_answer_summary.sort_values(by='count', ascending=False, inplace=True)
test_answer_summary

                                test_answer  count
0                                              266
1    Exploitation number of updates >= 4000     89
2                                         .     45
4                                     NYCTV     12
3                             more than 200     12
..                                      ...    ...
105                                  system      1
104                  Great Fire of New York      1
103                                the full      1
102                            the populate      1
201                              Washington      1

[202 rows x 2 columns]

In [15]:
#write the results dataframe to a tsv file
test_answer_summary.to_csv(tsv_results_filepath, sep="\t", index=False)
#count the number of results where the test answer is > 20 words
num_long_answers = response_formatted_df["test_answer"].apply(lambda x: len(x.split()) > 20 if pd.notnull(x) else False).sum()
print(f"number of test answers longer than 20 words: {num_long_answers}")
response_formatted_df["test_answer_correct"] = response_formatted_df["test_answer"] == response_formatted_df["response_answer_formatted"]
percentage_correct =  response_formatted_df["test_answer_correct"].mean() * 100
print(f"percentage correct = {percentage_correct} %")

response_formatted_df["test_answer_any_matching_word"] = response_formatted_df.apply(any_word_match, axis=1)

percentage_any_word_matches =  response_formatted_df["test_answer_any_matching_word"].mean() * 100
print(f"percentage any word matches = {percentage_any_word_matches} %")
correct_matches = response_formatted_df[response_formatted_df["test_answer_correct"]]
correct_matches

number of test answers longer than 20 words: 0

In [21]:
any_matches = response_formatted_df[response_formatted_df["test_answer_any_matching_word"]]
any_matches

,id,question,response_question,response_answer,response_declarative_sentence,answer,response_question_formatted,response_answer_formatted,response_declarative_sentence_formatted,is_pretraining,test_answer,test_answer_correct,test_answer_any_matching_word
4,56cf5d41aab44d1400b89131,The most populated city in the United States i...,The most populate –d city in the United States...,New York City,The most populate –d city in the United States...,New York City,? the most populate -d city in the United Stat...,New York City,the most populate -d city in the United States...,False,New York become the,False,True
5,56ce3124aab44d1400b8852a,How many boroughs comprise New York City?,How many borough –s comprise New York City?,five,New York City is comprise –d of five borough –s.,five,? how many borough -s comprise New York City,five,New York City is comprise -d of five borough -s,False,five,True,True
10,56cf9d81234ae51400d9be1b,How man boroughs does New York City contain?,How many borough –s does New York City contain?,five,New York City contain –s five borough –s.,five,? how many borough -s does New York City contain,five,New York City contain -s five borough -s,False,five,True,True
16,56ce31baaab44d1400b8853b,What nation founded New Amsterdam?,What nation found –ed New Amsterdam?,the Dutch Republic,The Dutch Republic found –ed New Amsterdam.,the Dutch Republic,? what nation found -ed New Amsterdam,the Dutch Republic,the Dutch Republic found -ed New Amsterdam,False,the Dutch,False,True
18,56ce31baaab44d1400b8853d,When did the English take over the area from t...,When did the English take over the area from t...,1664,The English took over the area from the Dutch ...,1664,? when did the English take over the area from...,1664,the English took over the area from the Dutch ...,False,in 1664,False,True
26,56ce32e7aab44d1400b88552,In what borough is Wall Street located?,In what borough is Wall Street locate –d?,Manhattan,Wall Street is locate –d in the borough of Man...,Manhattan,? in what borough is Wall Street locate -d,Manhattan,Wall Street is locate -d in the borough of Man...,False,Manhattan,True,True
40,56ce34c7aab44d1400b88596,What was the nationality of Estêvão Gomes?,What was the national –ity of Estêvão Gomes?,Portuguese,The national –ity of Estêvão Gomes was Portugu...,Portuguese,? what was the national -ity of Estevao Gomes,Portuguese,the national -ity of Estevao Gomes was Portuguese,False,Portuguese,True,True
42,56ce34c7aab44d1400b88598,What was the name of Estêvão Gomes's ship?,What was the name of Estêvão Gomes's ship?,La Anunciada,The name of Estêvão Gomes's ship was La Anunci...,La Anunciada,? what was the name of Estevao Gomess ship,La Anunciada,the name of Estevao Gomess ship was La Anunciada,False,La,False,True
54,56ce362aaab44d1400b885bd,What did the Dutch call Juan Rodriguez?,What did the Dutch call Juan Rodriguez?,Jan Rodrigues,The Dutch call –ed Juan Rodriguez Jan Rodrigues.,Jan Rodrigues,? what did the Dutch call Juan Rodriguez,Jan Rodrigues,the Dutch call -ed Juan Rodriguez Jan Rodrigues,False,Rodrigues,False,True
60,56cedbb9aab44d1400b88b0f,On what island did the Dutch set up a settleme...,On what island did the Dutch set up a settle –...,Governors Island,The Dutch set up a settle –ment to trade fur –...,Governors Island,? on what island did the Dutch set up a settle...,Governors Island,the Dutch set up a settle -ment to trade fur -...,False,-s on Governors,False,True
74,56cedc8eaab44d1400b88b24,What was the date of Anthonio Colve's capture ...,What was the date of Anthonio Colve's capture ...,"August 24, 1673",The date of Anthonio Colve's capture of New Yo...,"August 24, 1673",? what was the date of Anthonio Colves capture...,August 24 1673,the date of Anthonio Colves capture of New Yor...,False,August,False,True
87,56ceddd9aab44d1400b88b61,Near what square was the African Burial Ground...,Near what square was the African Burial Ground...,Foley Square,The African Burial Ground was unearth –ed near...,Foley Square,? Near what square was the African Burial Grou...,Foley Square,the African Burial Ground was unearth -ed near...,False,near Foley,False,True
97,56cfb691234ae51400d9bec5,The Stamp Act Congress had a meeting in 1765 i...,The Stamp Act Congress had a meet –ing in 1765...,New York,The Stamp Act Congress had a meet –ing in 1765...,New York,? the Stamp Act Congress had a meet -ing in 17...,New York,the Stamp Act Congress had a meet -ing in 1765...,False,New York,True,True
99,56cedf11aab44d1400b88b94,In what borough did the Battle of Long Island ...,In what borough did the Battle of Long Island ...,Brooklyn,The Battle of Long Island occur –ed in Brooklyn.,Brooklyn,? in what borough did the Battle of Long Islan...,Brooklyn,the Battle of Long Island occur -ed in Brooklyn,False,in Brooklyn,False,True
102,56cedf11aab44d1400b88b97,In what year did the American Revolutionary Wa...,In what year did the American Revolution –ary ...,1783,The American Revolution –ary War end –ed in 1783.,1783,? in what year did the American Revolution -ar...,1783,the American Revolution -ary War end -ed in 1783,False,in 1783,False,True
109,56cee30faab44d1400b88bf5,What noted religious building was destroyed in...,What note –d religion –ous build –ing was dest...,Trinity Church,Trinity Church was a note –d religion –ous bui...,Trinity Church,? what note -d religion -ous build -ing was de...,Trinity Church,Trinity Church was a note -d religion -ous bui...,False,Trinity,False,True
115,56cee398aab44d1400b88bfe,On what street did the writing of the Bill of ...,On what street did the write –ing of the Bill ...,Wall Street,The write –ing of the Bill of Rights occur –ed...,Wall Street,? on what street did the write -ing of the Bil...,Wall Street,the write -ing of the Bill of Rights occur -ed...,False,on Wall Street,False,True
126,56cfbb5f234ae51400d9bf2b,The gradual abolition act in New York was form...,The gradual abolish –tion act in New York was ...,1799,The gradual abolish –tion act in New York was ...,1799,? the gradual abolish -tion act in New York wa...,1799,the gradual abolish -tion act in New York was ...,False,in 1799,False,True
129,56cee4d1aab44d1400b88c10,In what year did the Erie Canal finish building?,In what year did the Erie Canal finish build –...,1825,The Erie Canal finish –ed build –ing in 1825.,1825,? in what year did the Erie Canal finish build...,1825,the Erie Canal finish -ed build -ing in 1825,False,in 1825,False,True
153,56cee70daab44d1400b88c51,In what year did the General Slocum disaster o...,In what year did the General Slocum disaster o...,1904,The General Slocum disaster occur –ed in 1904.,1904,? in what year did the General Slocum disaster...,1904,the General Slocum disaster occur -ed in 1904,False,1904,True,True
168,56cee873aab44d1400b88c77,What artistic movement caused New York to over...,What art –istic move –ment cause –d New York t...,abstract expressionism,The art –istic move –ment know –n as abstract ...,abstract expressionism,? what art -istic move -ment cause -d New York...,abstract expressionism,the art -istic move -ment know -n as abstract ...,False,expressionism cause -d,False,True
172,56cee90caab44d1400b88c87,On what date did the Stonewall riots take place?,On what date did the Stonewall riots take place?,"June 28, 1969","The Stonewall riots took place on June 28, 1969.","June 28, 1969",? on what date did the Stonewall riots take place,June 28 1969,the Stonewall riots took place on June 28 1969,False,28 1969,False,True
174,56cee90caab44d1400b88c89,What event provoked the Stonewall riots?,What event provoke –d the Stonewall riots?,a police raid,A police raid provoke –d the Stonewall riots.,a police raid,? what event provoke -d the Stonewall riots,a police raid,a police raid provoke -d the Stonewall riots,False,a police,False,True
175,56cfdc71234ae51400d9bf88,Where did the Stonewall riots happen?,Where did the Stonewall riots happen?,Stonewall Inn in the Greenwich Village neighbo...,The Stonewall riots happen –ed at the Stonewal...,Stonewall Inn in the Greenwich Village neighbo...,? where did the Stonewall riots happen,Stonewall Inn in the Greenwich Village neighbo...,the Stonewall riots happen -ed at the Stonewal...,False,the Stonewall,False,True
185,56ceeb94aab44d1400b88cb4,On what date did the World Trade Center PATH b...,On what date did the World Trade Center PATH b...,"July 19, 1909",The World Trade Center PATH began operate –ion...,"July 19, 1909",? on what date did the World Trade Center PATH...,July 19 1909,the World Trade Center PATH began operate -ion...,False,19 1909,False,True
187,56cfdde6234ae51400d9bfa6,The Hudson Terminal which was also demolished ...,The Hudson Terminal which was also demolish –e...,1909,"The Hudson Terminal, which was also demolish –...",1909,? the Hudson Terminal which was also demolish ...,1909,the Hudson Terminal which was also demolish -e...,False,1909,True,True
193,56cfde18234ae51400d9bfaf,The Occupy Wall Street protests that took plac...,The Occupy Wall Street protest –s that took pl...,"September 17, 2011",The Occupy Wall Street protest –s that took pl...,"September 17, 2011",? the Occupy Wall Street protest -s that took ...,September 17 2011,the Occupy Wall Street protest -s that took pl...,False,2011,False,True
195,56cef532aab44d1400b88d1a,In what year was the National Review founded?,In what year was the National Review found –ed?,1955,The National Review was found –ed in 1955.,1955,? in what year was the National Review found -ed,1955,the National Review was found -ed in 1955,False,1955,True,True
205,56cef613aab44d1400b88d2b,The Hudson River serves as a dividing line bet...,The Hudson River serve –s as a divide –ing lin...,New Jersey,The Hudson River serve –s as a divide –ing lin...,New Jersey,? the Hudson River serve -s as a divide -ing l...,New Jersey,the Hudson River serve -s as a divide -ing lin...,False,New Jersey,True,True
211,56cfdef3234ae51400d9bfc3,Which river seperates The Bronx from Manhatten?,Which river seperate –s The Bronx from Manhatten?,The Harlem River,The Harlem River seperate –s The Bronx from Ma...,The Harlem River,? which river seperate -s The Bronx from Manha...,the Harlem River,the Harlem River seperate -s The Bronx from Ma...,False,the Harlem,False,True
216,56cef84faab44d1400b88d56,What is the name of New York City's highest po...,What is the name of New York City's high –est ...,Todt Hill,The name of New York City's high –est point is...,Todt Hill,? what is the name of New York Citys high -est...,Todt Hill,the name of New York Citys high -est point is ...,False,Todt,False,True
231,56cf1a05aab44d1400b88d7e,In what year was the Woolworth Building comple...,In what year was the Woolworth Building comple...,1913,The Woolworth Building was complete –d in 1913.,1913,? in what year was the Woolworth Building comp...,1913,the Woolworth Building was complete -d in 1913,False,1913,True,True
235,56cf1aa6aab44d1400b88d85,In what year was the Empire State Building com...,In what year was the Empire State Building com...,1931,The Empire State Building was complete –d in 1...,1931,? in what year was the Empire State Building c...,1931,the Empire State Building was complete -d in 1931,False,in 1931,False,True
242,56cf1ba9aab44d1400b88d8f,In what borough is the Riverdale neighborhood ...,In what borough is the Riverdale neighborhood ...,the Bronx,The Riverdale neighborhood is locate –d in the...,the Bronx,? in what borough is the Riverdale neighborhoo...,the Bronx,the Riverdale neighborhood is locate -d in the...,False,Bronx,False,True
243,56cf1ba9aab44d1400b88d90,In what borough is the Ditmas Park neighborhoo...,In what borough is the Ditmas Park neighborhoo...,Brooklyn,The Ditmas Park neighborhood is locate –d in B...,Brooklyn,? in what borough is the Ditmas Park neighborh...,Brooklyn,the Ditmas Park neighborhood is locate -d in B...,False,in Brooklyn,False,True
244,56cf1ba9aab44d1400b88d91,In what borough is the Douglaston neighborhood...,In what borough is the Douglaston neighborhood...,Queens,The Douglaston neighborhood is locate –d in Qu...,Queens,? in what borough is the Douglaston neighborho...,Queens,the Douglaston neighborhood is locate -d in Qu...,False,Queens,True,True
255,56cf1caaaab44d1400b88da2,How many boroughs does New York City have?,How many borough –s does New York City have?,five,New York City has five borough –s.,five,? how many borough -s does New York City have,five,New York City has five borough -s,False,five,True,True
262,56cfe43c234ae51400d9c010,How many days on average does NYC get sunshine...,How many day –s on average does NYC get sunshi...,234,"On average, NYC get –s 234 day –s of sunshine ...",234,? how many day -s on average does NYC get suns...,234,on average NYC get -s 234 day -s of sunshine a...,False,234,True,True
273,56cf2ba4aab44d1400b88dba,"In centimeters, what is the average winter sno...","In centimeter –s, what is the average winter s...",66,The average winter snowfall is 66 centimeter –s.,66,? in centimeter -s what is the average winter ...,66,the average winter snowfall is 66 centimeter -s,False,66,True,True
291,56cf306baab44d1400b88de9,In what neighborhood is the Stonewall Inn loca...,In what neighborhood is the Stonewall Inn loca...,Greenwich Village,The Stonewall Inn is locate –d in the Greenwic...,Greenwich Village,? in what neighborhood is the Stonewall Inn lo...,Greenwich Village,the Stonewall Inn is locate -d in the Greenwic...,False,Greenwich Village,True,True
305,56cf322eaab44d1400b88e0b,What is the biggest public park in the city?,What is the big –gest public park in the city?,Pelham Bay Park,The big –gest public park in the city is Pelha...,Pelham Bay Park,? what is the big -gest public park in the city,Pelham Bay Park,the big -gest public park in the city is Pelha...,False,Pelham Bay Park,True,True
360,56cf37b9aab44d1400b88e82,About how many people live in New York City's ...,About how many people live in New York City's ...,20 million,About 20 million people live in New York City'...,20 million,? about how many people live in New York Citys...,20 million,about 20 million people live in New York Citys...,False,4 point 8 million,False,True
361,56cf37b9aab44d1400b88e83,"As of 2012, how many Jewish people lived in th...","As of 2012, how many Jew –ish people live –d i...",1.5 million,"As of 2012, 1.5 million Jew –ish people live –...",1.5 million,? as of 2012 how many Jew -ish people live -d ...,1 point 5 million,as of 2012 1 point 5 million Jew -ish people l...,False,4 point 8 million,False,True
392,56cf3aa2aab44d1400b88ec0,What is the common name for New York's high te...,What is the common name for New York's high te...,Silicon Alley,The common name for New York's high technology...,Silicon Alley,? what is the common name for New Yorks high t...,Silicon Alley,the common name for New Yorks high technology ...,False,is Silicon Alley,False,True
407,56cf48a3aab44d1400b88f30,About how much does it cost per year to pay wo...,About how much does it cost per year to pay wo...,$11 billion,It cost –s about $11 billion per year to pay w...,$11 billion,? about how much does it cost per year to pay ...,11 billion,it cost -s about 11 billion per year to pay wo...,False,7 point 1 billion,False,True
528,56cffd93234ae51400d9c222,NYPD officers have a nickname that is known as...,NYPD officer –s have a nickname that is know –...,New York's Finest,The nickname for NYPD officer –s is know –n as...,New York's Finest,? NYPD officer -s have a nickname that is know...,New Yorks Finest,the nickname for NYPD officer -s is know -n as...,False,Great Fire of New York,False,True
544,56cffe95234ae51400d9c232,What is the The New York City Fire Department'...,What is the The New York City Fire Department ...,New York's Bravest,The New York City Fire Department 's motto is ...,New York's Bravest,? what is the The New York City Fire Departmen...,New Yorks Bravest,the New York City Fire Department s motto is N...,False,New Yorks,False,True
580,56d10ab417492d1400aab7e8,"In 2012-3, what number of people saw a show on...","In 2012-3, what number of people saw a show on...",11.57 million,"In 2012-3, 11.57 million people saw a show on ...",11.57 million,? in 2012-3 what number of people saw a show o...,11 point 57 million,in 2012-3 11 point 57 million people saw a sho...,False,4 point 8 million,False,True
700,56d120c117492d1400aaba10,How many boroughs did Barack Obama win in the ...,How many borough –s did Barack Obama win in th...,five,Barack Obama won five borough –s in the 2012 p...,five,? how many borough -s did Barack Obama win in ...,five,Barack Obama won five borough -s in the 2012 p...,False,five,True,True
720,56d10b9a17492d1400aab7fc,In what New York park can one find performance...,In what New York park can one find performance...,Central Park,One can find performance –s at no cost in Cent...,Central Park,? in what New York park can one find performan...,Central Park,One can find performance -s at no cost in Cent...,False,Pelham Bay Park,False,True

In [22]:
#write the results to a file and export the results dataframe to a tsv file
tsv_results_filename = "test_nyc_results" + datetime.datetime.now().strftime("_%Y%m%d_%H%M%S") + ".tsv"
tsv_results_filepath = os.path.join(test_results_dir, tsv_results_filename)
response_formatted_df.to_csv(tsv_results_filepath, sep="\t", index=False)

results_summary_filename = "test_nyc_results_summary" + datetime.datetime.now().strftime("_%Y%m%d_%H%M%S") + ".txt"
results_summary_filepath = os.path.join(test_results_dir, results_summary_filename)

with open(results_summary_filepath, 'w') as results_file:
	#write the number of samples tested
	results_file.write(f"total number of samples\t{len(test_input_lines)/2}\n")
	results_file.write(f"number_of_test_answers\t{len(response_formatted_df)}\n")
	results_file.write(f"percentage_correct\t{percentage_correct}\n")
	results_file.write(f"percentage_any_word_matches\t{percentage_any_word_matches}\n")
	results_file.write(f"number of test answers longer than 20 words (removed)\t{num_long_answers}\n")
	# write the rows that had exact word matches to the file
	results_file.write("\nRows with exact matches:\n")
	results_file.write(correct_matches[["response_question", "response_answer", "test_answer"]].to_markdown(index=False))
	#write the rows in any_matches to the file
	results_file.write("\nRows with any word matches:\n")
	results_file.write(any_matches[["response_question", "response_answer", "test_answer"]].to_markdown(index=False))
print(f"results written to {tsv_results_filepath} and {results_summary_filepath}")

results written to /Users/chris/Library/CloudStorage/GoogleDrive-cjameswalmsley@gmail.com/My Drive/Shared with Julia/Education/Kent University/PhD/work/annabell/experiments/8/results/test_nyc_results_20250925_062932.tsv and /Users/chris/Library/CloudStorage/GoogleDrive-cjameswalmsley@gmail.com/My Drive/Shared with Julia/Education/Kent University/PhD/work/annabell/experiments/8/results/test_nyc_results_summary_20250925_062932.txt