In [103]:
from dataset_processing import question_and_answer_pairs_from_log_file, remove_quotes_from_file, filter_by_max_words, clean_text
import pandas as pd
import nltk
from nltk.corpus import stopwords

    #This notebook is used to train the ANNABELL model on the SQuAD dataset.
It uses the declarative statements generated from the SQuAD dataset to train the model in specialist subjects.
The steps to rain the model are as follows:
1) prepare the dataset
2) pre-train the annabell model by loading pretrained weights form the people/body/skills file
3) train the model on the declarative statements
4) load the weights

In [104]:
test_log_filepath = "/Users/chris/PycharmProjects/dataset/docker/docker_train/shared_data/statements/crossvalidation/round1/logs/logfile_squad_test_nyc.txt"

test_input_filepath = "/Users/chris/PycharmProjects/dataset/docker/docker_train/shared_data/statements/testing/test_nyc_questions.txt"

In [105]:
question_and_answer_pairs = question_and_answer_pairs_from_log_file(test_log_filepath)

#print("length of log file questions: " + str(len(questions)))
#print("length of log file answers: " + str(len(answers)))
print("length of log file questions and answers: " + str(len(question_and_answer_pairs)))

with open(test_input_filepath, 'r') as test_input_file:
    test_input_lines = test_input_file.readlines()
print("length of test file questions: " + str(len(test_input_lines)))

length of log file questions and answers: 586
length of log file questions and answers: 586
length of test file questions: 1612

In [106]:
nones = [pair for pair in question_and_answer_pairs if pair[-1] is None]
nones

[['? in what year were the five borough -s combined into one city', None],
 ['? after which war did england gain new york in exchange for run an indonesian island',
  None],
 ['? in what year were the five borough -s combined into one city', None],
 ['? in what year were approximately how many people of Irish extraction in New York',
  None],
 ['? in what year were the five borough -s combined into one city', None],
 ['? what was the population of people in New York that were not Caucasian in 1890',
  None],
 ['? between 1892-1924 how many immigrants came through Ellis Island', None],
 ['? approximately how many Chinatowns exist in New York City', None],
 ['? what previous mayor of New York is a billionaire', None],
 ['? how many homicides were there in New York City in 2014', None],
 ['? one of the biggest fashion shows in the world is named what in New York',
  None]]

In [107]:
nones = [pair for pair in question_and_answer_pairs if pair[0] is None]
nones

[]

In [108]:
#Load and clean the training data derived from the SQuAD dataset
train_filepath = remove_quotes_from_file("/Volumes/X9 Pro/datasets/declarative_sentences_train_gemma3:4b_20250617_201822.tsv")
train_df = pd.read_csv(train_filepath, sep="\t")
train_df = train_df.dropna()

filtered_train_df = train_df[train_df["title"] == "New_York_City"]
filtered_train_df = filter_by_max_words(filtered_train_df, max_words=20)
filtered_train_df["response_question"] = clean_text(filtered_train_df["response_question"], True)
filtered_train_df["response_answer"] = clean_text(filtered_train_df["response_answer"], False)
filtered_train_df["statement"] = clean_text(filtered_train_df["statement"], False)
filtered_train_df.reset_index(drop=True, inplace=True)
filtered_train_df

Cleaned data saved to /Volumes/X9 Pro/datasets/declarative_sentences_train_gemma3:4b_20250617_201822_cleaned.tsv

,id,title,question,answer,response_question,response_answer,statement
0,56ce304daab44d1400b8850e,New_York_City,What city in the United States has the highest...,New York,? What city in the United States has the highe...,new york,new york city has the highest population in th...
1,56ce304daab44d1400b8850f,New_York_City,In what city is the United Nations based?,New York,? in what city is the united nations based,new york,the united nations is based in New York
2,56ce304daab44d1400b88510,New_York_City,What city has been called the cultural capital...,New York,? what city has been called the cultural capit...,new york,new york has been called the cultural capital ...
3,56ce304daab44d1400b88511,New_York_City,What American city welcomes the largest number...,New York,? What American city welcomes the largest numb...,new york,new york welcomes the largest number of legal ...
4,56cf5d41aab44d1400b89130,New_York_City,The major gateway for immigration has been whi...,New York City,? the major gateway for immigration has been w...,new york city,the major gateway for immigration has been in ...
...,...,...,...,...,...,...,...
801,56d1218c17492d1400aaba1e,New_York_City,What ZIP code was responsible for the greatest...,10021,? what ZIP code was responsible for the greate...,10021,the ZIP code 10021 was responsible for the gre...
802,56d1218c17492d1400aaba1f,New_York_City,How much money in cents does New York City rec...,83,? how much money in cents does New York City r...,83,New York City receives 83 cents for every doll...
803,56d1218c17492d1400aaba20,New_York_City,How much more money does the city give to the ...,$11 billion,? how much more money does the city give to th...,11 billion,the city gives 11 billion to the state of new ...
804,56d1218c17492d1400aaba21,New_York_City,"Each year, how much more money does New York C...",$11.4 billion,? each year how much more money does New York ...,11 point 4 billion,new york city gives 11 point 4 billion more to...
805,56d121d817492d1400aaba2e,New_York_City,In what year did the Sister City Program of th...,2006,? in what year did the Sister City Program of ...,2006,the Sister City Program of the City of New Yor...

In [109]:
#add the test questions to the dataframe
for question, answer in question_and_answer_pairs:
    if question in filtered_train_df["response_question"].values:
        filtered_train_df.loc[filtered_train_df["response_question"] == question, "test_answer"] = answer
    else:
        print(f"Question not found in training data: {question}")
filtered_train_df

Question not found in training data: ? what was the myth that Manhattan was bought for by General Peter Minuit
Question not found in training data: ? which in

,id,title,question,answer,response_question,response_answer,statement,test_answer
0,56ce304daab44d1400b8850e,New_York_City,What city in the United States has the highest...,New York,? What city in the United States has the highe...,new york,new york city has the highest population in th...,the us
1,56ce304daab44d1400b8850f,New_York_City,In what city is the United Nations based?,New York,? in what city is the united nations based,new york,the united nations is based in New York,Exploitation number of updates >= 4000
2,56ce304daab44d1400b88510,New_York_City,What city has been called the cultural capital...,New York,? what city has been called the cultural capit...,new york,new york has been called the cultural capital ...,... Exploitation number of updates >= 4000
3,56ce304daab44d1400b88511,New_York_City,What American city welcomes the largest number...,New York,? What American city welcomes the largest numb...,new york,new york welcomes the largest number of legal ...,
4,56cf5d41aab44d1400b89130,New_York_City,The major gateway for immigration has been whi...,New York City,? the major gateway for immigration has been w...,new york city,the major gateway for immigration has been in ...,
...,...,...,...,...,...,...,...,...
801,56d1218c17492d1400aaba1e,New_York_City,What ZIP code was responsible for the greatest...,10021,? what ZIP code was responsible for the greate...,10021,the ZIP code 10021 was responsible for the gre...,NaN
802,56d1218c17492d1400aaba1f,New_York_City,How much money in cents does New York City rec...,83,? how much money in cents does New York City r...,83,New York City receives 83 cents for every doll...,NaN
803,56d1218c17492d1400aaba20,New_York_City,How much more money does the city give to the ...,$11 billion,? how much more money does the city give to th...,11 billion,the city gives 11 billion to the state of new ...,NaN
804,56d1218c17492d1400aaba21,New_York_City,"Each year, how much more money does New York C...",$11.4 billion,? each year how much more money does New York ...,11 point 4 billion,new york city gives 11 point 4 billion more to...,NaN
805,56d121d817492d1400aaba2e,New_York_City,In what year did the Sister City Program of th...,2006,? in what year did the Sister City Program of ...,2006,the Sister City Program of the City of New Yor...,NaN

In [110]:
nones = filtered_train_df[filtered_train_df["test_answer"].isna()]
print(f" number of rows with no test answer = {nones}")
print(filtered_train_df.info())

 number of rows with no test answer =                            id          title  \
70   56cfb206234ae51400d9be91  New_York_City
88   56cfb502234ae51400d9beb2  New_York_City
143  56cee5a1aab44d1400b88c24  New_York_City
167  56cfda93234ae51400d9bf7b  New_York_City
355  56cfe987234ae51400d9c099  New_York_City
..                        ...            ...
801  56d1218c17492d1400aaba1e  New_York_City
802  56d1218c17492d1400aaba1f  New_York_City
803  56d1218c17492d1400aaba20  New_York_City
804  56d1218c17492d1400aaba21  New_York_City
805  56d121d817492d1400aaba2e  New_York_City

                                              question  \
70   What was the myth that Manhattan was bought fo...
88   After which war did England gain New York in e...
143  In 1860, approximately how many people of Iris...
167  What was the population of people in New York ...
355  Between 1892-1924, how many immigrants came th...
..                                                 ...
801  What ZIP code was responsible for the greatest...
802  How much money in cents does New York City rec...
803  How much more money does the city give to the ...
804  Each year, how much more money does New York C...
805  In what year did the Sister City Program of th...

                     answer  \
70              glass beads
88   Second Anglo-Dutch War
143                 200,000
167                  36,620
355    more than 12 million
..                      ...
801                   10021
802                      83
803             $11 billion
804           $11.4 billion
805                    2006

                                     response_question  \
70   ? what was the myth that Manhattan was bought ...
88   ? after which war did england gain new york in...
143  ? in what year were approximately how many peo...
167  ? what was the population of people in New Yor...
355  ? between 1892-1924 how many immigrants came t...
..                                                 ...
801  ? what ZIP code was responsible for the greate...
802  ? how much money in cents does New York City r...
803  ? how much more money does the city give to th...
804  ? each year how much more money does New York ...
805  ? in what year did the Sister City Program of ...

                response_answer  \
70                  glass beads
88   the second Anglo-Dutch War
143                      200000
167                       36620
355        more than 12 million
..                          ...
801                       10021
802                          83
803                  11 billion
804          11 point 4 billion
805                        2006

                                             statement test_answer
70   General Peter Minuit bought Manhattan for glas...         NaN
88   the second Anglo-Dutch War was the exchange fo...        None
143  approximately 200000 people of Irish extractio...        None
167  the population of people in New York that were...        None
355  more than 12 million immigrants came through E...        None
..                                                 ...         ...
801  the ZIP code 10021 was responsible for the gre...         NaN
802  New York City receives 83 cents for every doll...         NaN
803  the city gives 11 billion to the state of new ...         NaN
804  new york city gives 11 point 4 billion more to...         NaN
805  the Sister City Program of the City of New Yor...         NaN

[228 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 806 non-null    object
 1   title              806 non-null    object
 2   question           806 non-null    object
 3   answer             806 non-null    object
 4   response_question  806 non-null    object
 5   response_answer    806 non-null    object
 6   statement          806 non-null    object
 7   test_answer        578 non-null    object
dtypes: object(8)
memory usage: 50.5+ KB
None

In [111]:
#remove rows where the test answer is longer than 20 words
filtered_train_df.dropna(subset=["test_answer"], inplace=True)
filtered_train_df = filtered_train_df[filtered_train_df.apply(lambda row: len(row["test_answer"].split()) <= 20 , axis=1)]
filtered_train_df.reset_index(drop=True, inplace=True)
filtered_train_df

,id,title,question,answer,response_question,response_answer,statement,test_answer
0,56ce304daab44d1400b8850e,New_York_City,What city in the United States has the highest...,New York,? What city in the United States has the highe...,new york,new york city has the highest population in th...,the us
1,56ce304daab44d1400b8850f,New_York_City,In what city is the United Nations based?,New York,? in what city is the united nations based,new york,the united nations is based in New York,Exploitation number of updates >= 4000
2,56ce304daab44d1400b88510,New_York_City,What city has been called the cultural capital...,New York,? what city has been called the cultural capit...,new york,new york has been called the cultural capital ...,... Exploitation number of updates >= 4000
3,56ce304daab44d1400b88511,New_York_City,What American city welcomes the largest number...,New York,? What American city welcomes the largest numb...,new york,new york welcomes the largest number of legal ...,
4,56cf5d41aab44d1400b89130,New_York_City,The major gateway for immigration has been whi...,New York City,? the major gateway for immigration has been w...,new york city,the major gateway for immigration has been in ...,
...,...,...,...,...,...,...,...,...
566,56d108f917492d1400aab7b6,New_York_City,What artistic style was prominent in New York ...,abstract expressionism,? what artistic style was prominent in New Yor...,abstract expressionism,abstract expressionism was prominent in New Yo...,...
567,56d108f917492d1400aab7b7,New_York_City,What was the name of the new musical style tha...,hip hop,? what was the name of the new musical style t...,hip hop,the new musical style that emerged from New Yo...,
568,56d000c5234ae51400d9c24d,New_York_City,The fashion capital of the world is what city ...,New York City,? the fashion capital of the world is what cit...,new york city,the fashion capital of the world is in new yor...,
569,56d10ab417492d1400aab7e8,New_York_City,"In 2012-3, what number of people saw a show on...",11.57 million,? in what year were the five borough -s combin...,11 point 57 million,the number of people who saw a show on broadwa...,
570,56d1186417492d1400aab913,New_York_City,"In 2011, what airport did the most internation...",John F. Kennedy International Airport,? in what year were the five borough -s combin...,1898,the five borough -s were combined into one cit...,

In [112]:
filtered_train_df["test_answer_correct"] = filtered_train_df["test_answer"] == filtered_train_df["response_answer"]
percentage_correct =  filtered_train_df["test_answer_correct"].mean() * 100
percentage_correct

/var/folders/cv/z7xz0c3n3nd4c26hj7g01n7w0000gn/T/ipykernel_66668/3093508224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_train_df["test_answer_correct"] = filtered_train_df["test_answer"] == filtered_train_df["response_answer"]

np.float64(0.0)

In [113]:
#filtered_train_df.dropna(subset=["test_answer"], inplace=True)

def any_word_match(row):
    # Split both strings into sets of words for efficient lookup
    try:
        stopwords.words('english')
    except LookupError:
        nltk.download('stopwords')
    stop_words = set(stopwords.words('english'))
    test_words = set(row["test_answer"].split())
    response_words = set(row["response_answer"].split())
    intersecting_words = test_words.intersection(response_words)
    open_class_intersecting_words = intersecting_words - stop_words

    return open_class_intersecting_words != set()

filtered_train_df["test_answer_any_matching_word"] = filtered_train_df.apply(any_word_match, axis=1)

percentage_any_word_matches =  filtered_train_df["test_answer_any_matching_word"].mean() * 100
print(f"percentage any word matches = {percentage_any_word_matches} %")

percentage any word matches = 0.3502626970227671 %

/var/folders/cv/z7xz0c3n3nd4c26hj7g01n7w0000gn/T/ipykernel_66668/3207302339.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_train_df["test_answer_any_matching_word"] = filtered_train_df.apply(any_word_match, axis=1)

In [115]:
any_matches = filtered_train_df[filtered_train_df["test_answer_any_matching_word"]]
any_matches

,id,title,question,answer,response_question,response_answer,statement,test_answer,test_answer_correct,test_answer_any_matching_word
353,56cf3629aab44d1400b88e65,New_York_City,What borough housed the first Chinatown in New...,Manhattan,? What borough housed the first Chinatown in N...,Manhattan,the first Chinatown in New York was housed in ...,the Manhattan,False,True
534,56d1057217492d1400aab75c,New_York_City,What does the acronym NYPD stand for?,New York City Police Department,? what does the acronym nypd stand for,New York City Police Department,the acronym nypd stands for New York City Poli...,York go -s to the school,False,True